backups
auto-save-list
.python-environments
ac-comphist.dat
projectile-bookmarks.eld
projectile.cache
places
.mc-lists.el
session.*
ido.last*
elpa
recentf
TAGS
transient/
history
multisession/
tree-sitter/
custom.el